﻿@model IEnumerable<SpentEnergy.Models.Spent>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous">
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js">
    </script>
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/Site.js"></script>
</head>

<body>
    <div class="fixed-action-btn" style="padding:0 50px;">
        <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#cadDeviceModal" style="margin:15px 10px">
            Cadastro
        </button>
        <button id="btn-toggle" type="button" class="btn btn-success" onclick="toggleAtu()">
            Atualização Global
        </button>
    </div>
    <div class="page">
        <div class="row">
            <div class="col-md-4">
                <div class="card graph-item">
                    @Html.Partial("_infoSpents")
                </div>
            </div>
            <div class="col-md-8">
                <div class="card graph-item">
                    @Html.Partial("_chartConsumption")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card graph-item">
                    @Html.Partial("_chartPieConsumption")
                </div>
            </div>
            <div class="col-md-8">
                <div class="card graph-item">
                    @Html.Partial("_chartPotency")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card graph-item">
                    @Html.Partial("_chartSpents")
                </div>
            </div>
        </div>
    </div>
</body>

@Html.Partial("_cadDevice");

</html>